.inputClass {
  outline: 0;
  width: calc(100% - 2em);
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #ccc;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1em;
  padding-bottom: 6px;
}
