@import '../../variables.css';

.newCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  > * {
    margin: 10px 0;
  }
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputContainer {
  border-bottom: 1px solid #ccc;
  font-size: 26px;
  margin-bottom: 50px;
  width: 100%;

  &:first-child {
    margin-right: 20px;
  }
}

.usersList {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  list-style-type: none;
  padding: 0;
  max-height: 50vh;
  overflow: auto;
}

.usersRow {
  color: rgba(0, 0, 0, 0.9);
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 10px 0;
  background-color: #ddd;
  transition: background-color .3s;

  &:hover {
    cursor: pointer;
    background-color: #bbb;
  }
}

.searchBody {
    font-size: 22px;
    margin: 70px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
}

.userName {
  font-weight: 500;
}
