@import '../../variables.css';

.salesContainer {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.blur {
    display: flex;
}

.blur.active {
    -webkit-filter: blur(10px);
}
