@import '../../variables.css';

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid var(--abacash-border);
    border-radius: 5%;
    border-top: 5px solid var(--abacash-orange);
    margin: 15px;
    width: 9rem;
    height: 10rem;
    font-size: 18px;
    padding: 15px;
    transition: background-color 0.5s;
}
.product:hover {
    background-color: var(--abacash-orange);
    cursor: pointer;
}

.product:hover > span {
    color: var(--abacash-white);
}

.productName {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: 500;
}

.productPrice {
    font-weight: 300;
}

.productContainer {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: calc(100vh - 85px);
}
