@import '../../variables.css';

.newCardContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > * {
    margin: 10px 0;
  }
}

.centerContainer {
  height: inherit;
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  margin-bottom: 110px;
}

.footer {
  width: 100%;
  position: absolute;
  margin: 10px 0;
  text-align: center;
  border: 0;
  justify-content: center;
  bottom: 0;
  border-top: 1px solid #ddd;
  display: flex;
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoContainer {
  width: 100%;
  margin: 10px;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  justify-content: center;
  height: 60px;
  font-size: 18px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.infoLabel {
  position: absolute;
  top: 0px;
  font-size: 14px;
  left: 0;
  text-transform: capitalize;
  margin: 5px;
}

.inputContainer {
  border-bottom: 1px solid #ccc;
  font-size: 26px;
  margin-bottom: 50px;
  width: 100%;

  &:first-child {
    margin-right: 20px;
  }
}

.usersList {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  list-style-type: none;
  padding: 0;
  height: 50vh;
  overflow: auto;
  width: 100%;
}

.usersList::-webkit-scrollbar {
    width: 3px;
}

.usersList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.0);
    border-radius: 0px;
}

.usersList::-webkit-scrollbar-thumb {
    border-radius: 0px;
		background-color: black;
}

.usersRow {
  color: rgba(0, 0, 0, 0.9);
  width: 99%;
  text-align: center;
  padding: 20px 0;
  margin: 10px 0;
  background-color: #ddd;
  transition: background-color .3s;
}

.inputForm {
  width: 100%;
}

.SearchComponent{
  width: calc(100% / 2);
}
.usersRow:hover{
   cursor: pointer;
   background-color: #bbb;
}

.selected {
  border:  2px solid #2ecc71 !important;
}

.searchBody {
    font-size: 22px;
    margin: 70px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
}

.userName {
  font-weight: 500;
}
