@import '../../variables.css';

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;
  display: flex;
}

.menuContainer {
  width: 640px;
}

.brand {
    text-align: center;
}

.brand > img {
    max-width: 70%;
}

hr {
  width: 100px;
  border: 1px solid #bbb;
}

h1, h2 {
  text-align: center;
}
